# Prometheus Alertmanager server API URL
ALERTMANAGER_URL=http://localhost:9093
# Grafana server API endpoint
GRAFANA_URL=http://localhost:3000
# Grafana admin API Key or Service Token
LGTM_TOKEN=your_grafana_api_token
